* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    img {
        height: 100%;
        width: 50%;
        float: left;
    }
    div {
        @extend img;
        padding: 2%;
        position: relative;
        section:nth-child(1) {
            width: 30%;
            border: none;
            border-bottom: 1px solid blue;
            padding-bottom: 1%;
            margin-bottom: 25%;
            font-size: 15px;
        }
        p:nth-child(2) {
            position: absolute;
            right: 5%;
        }

        section:nth-child(3) {
            position: absolute;
            left: 20%;
            border-left: 1px solid blue;
            padding-left: 1%;
            margin-top: 5%;
            margin-right: 5%;
            p {
                position: static;
            }
        }
    }
}
